@charset "UTF-8";


* {
    margin: 10px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(183, 183, 187);
    color: rgb(0, 0, 0);
}

iframe {
    height: 500px;
    width: 500px;
}