@charset "UTF-8";


* {
    margin: 0px;
    padding: 0px;
}

table {
    border-collapse: collapse;
    margin: 20px 0px 0px 20px;
}

tr, td {
    border: 1px solid black;
    padding: 30px 60px;
    text-align: center;
}
