@charset "UTF-8";

.div1 {
    background-color: lightblue; 
    text-align: center;
    border: 1px solid black;
    height: 300px;
    width: 300px;
    display: inline-block;
}
.div2 {
    background-color: lightblue;
    text-align: center;
    border: 1px solid black;
    height: 300px;
    width: 300px;
    display: inline-block; /*Essa propriedade coloca tudo na mesma linha. muito importante */
}
.div1:hover {
    
}
.div2:hover {
    
}
