* {
    margin: 0px 0px 0px 10px;
    padding: 0px;

}

h1 {
    margin-bottom: 15px;
}

table {
    border-collapse: collapse;
    font-size: 100%;
    text-indent: initial;
}

Caption {
	font-size: 1.4em;
	font-weight: bold;
	padding: 10px;
	background-color: lightgray;
    margin: 0px;
}

table > tr, th {
    padding: 0.2em 0.4em;
    padding: 17px;
    background-color: #c6c8cb;

}

th, td, tr {
    border: 1px solid black;

}

td {
    padding: 20px;
    background-color: #eaecf0;

}

tbody > tr:nth-child(2n) {
    background-color: #6f84a3;
}

.valor-populacao {
    text-align: right;
}

.tfoot {
    background-color: gray;
}
